/*styles.css */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 5vh;
  margin: 0;
  background-color: #f0f0f0;
  color: #333;
}

.box {
  background-color: lightgray;
  padding: 10px 15px 10px 10px;
  border: 3px solid black;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 26px;
  color: black;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 16px;
  color: black;
  text-align: right;
  padding: 20px;
}

p {
  font-size: 14px;
  color: black;
}
