/*styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.grid-container {
  display: grid;
  place-items: right;
  text-align: left;
}

h1 {
  font-size: 26 px
  color: #007bff;
  text-align: center;
  padding: 20px;
}
